In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
sys.path.insert(1, '../scripts/')
from utils import *
from processing import *

In [26]:
old_data = pd.read_csv("../csv/complete_features.csv")
old_data
for col in old_data.columns:
    print(col)

PatientStayID
Class
Age
APACHEIVscore
APACHEIVaScore
Coma
Metabolic
UrgentAdmission
AdmissionCategory
Infection
NumBeds
TeachingStatus
Gender
Ethnicity
AdmitHeight
AdmitTime24
AdmitSource
UnitType
UnitAdmitTime
UnitAdmitSource
AdmitWeight
HistAICD
HistAngina
HistArrythmia
HistCHF
HistCABG
HistExerciseTol
HistHypertension
HistMI
HistPacemaker
HistPVD
HistPCI
HistPulmEmb
HistHeartTransp
HistValveDis
HistVenThromb
HistCushing
HistHypercalcemia
Histhyperthyroid
Histhypothyroid
Histdiabetes
HistSteroid Use
HistCirrhosis
HistHypersplenism
HistPUD
HistLiverTransp
HistAplasticAnemia
HistChemotherapy
HistRadiationTherapy
HistCancer
HistClottingDisorder
HistHemolyticAnemia
HistHypercoagulableCondition
HistOncology
HistMyeloproliferativeDisease
HistSickleCellDisease
HistImmuneSuppr
HistDementia
HistIntracranialMass
HistNeuromuscularDis
HistSeizures
HistStrokes
HistTIA
HistAsthma
HistCOPD
HistRespiratoryFail
HistRestrictiveDis
HistLungTransp
HistSarcoidosis
HistStoneDisease
HistNeurogenicBladd
HistRenalFail
HistRenalInsuff
HistRTA
HistRenalTransp
HistRheumatic
24hrWorstMotorGCS
24hrWorstVerbalGCS
24hrWorstEyesGCS
24hrBestMotorGCS
24hrBestVerbalGCS
24hrBestEyesGCS
FirstDayAdrenergicBronchodilators
FirstDayaminoglycosides
FirstDayAnticholinergicBronchodilators
FirstDayAnticholinergics
FirstDayAnticoagulants
FirstDayAntidiarrheals
FirstDayAntiemetics
FirstDayAntihistamines
FirstDayBarbiturates
FirstDayBenzodiazepines
FirstDayBetaBlockers
FirstDayCalciumChannelBlockers
FirstDayCarbapenems
FirstDayCephalosporins
FirstDayClassVAntiarrhythmics
FirstDayColloidFluids
FirstDayCrystalloidFluids
FirstDayDiuretics
FirstDayGeneralAnesthetics
FirstDayGlucocorticoids
FirstDayGlucoseElevating
FirstDayGlycopeptides
FirstDayH2Blockers
FirstDayHaloperidol
FirstDayInsulins
FirstDayLaxatives
FirstDayLincomycins
FirstDayMacrolides
FirstDayMAOIAntidepressants
FirstDayMethylxanthines
FirstDayMiscAntidepressants
FirstDayNeuromuscularBlockers
FirstDayNSAIDs
FirstDayOpioids
FirstDayPenicillins
FirstDayPhenylpiperazineAntidepressants
FirstDayPotassiumChannelBlockers
FirstDayPrecedex
FirstDayProtonPumpInhibitor
FirstDayQuinolones
FirstDaySNRIAntidepressants
FirstDaySodiumChannelBlockers
FirstDaySomatostatin
FirstDaySSRIAntidepressants
FirstDaySulfonamides
FirstDayTetracyclicAntidepressants
FirstDayTetracyclines
FirstDayThrombolytics
FirstDayTricyclicAntidepressants
FirstDayVasodilators
FirstDayVasopressors
mean_-lymphs
min_-lymphs
max_-lymphs
mean_-monos
min_-monos
max_-monos
mean_-polys
min_-polys
max_-polys
mean_albumin
min_albumin
max_albumin
mean_alkaline phos.
min_alkaline phos.
max_alkaline phos.
mean_ALT (SGPT)
min_ALT (SGPT)
max_ALT (SGPT)
mean_anion gap
min_anion gap
max_anion gap
mean_AST (SGOT)
min_AST (SGOT)
max_AST (SGOT)
mean_bedside glucose
min_bedside glucose
max_bedside glucose
mean_bicarbonate_totalCO2_HCO3
min_bicarbonate_totalCO2_HCO3
max_bicarbonate_totalCO2_HCO3
mean_BUN
min_BUN
max_BUN
mean_calcium
min_calcium
max_calcium
mean_chloride
min_chloride
max_chloride
mean_creatinine
min_creatinine
max_creatinine
mean_FiO2
min_FiO2
max_FiO2
mean_glucose
min_glucose
max_glucose
mean_Hct
min_Hct
max_Hct
mean_Hgb
min_Hgb
max_Hgb
mean_lactate
min_lactate
max_lactate
mean_magnesium
min_magnesium
max_magnesium
mean_MCH
min_MCH
max_MCH
mean_MCHC
min_MCHC
max_MCHC
mean_MCV
min_MCV
max_MCV
mean_MPV
min_MPV
max_MPV
mean_O2 Sat (%)
min_O2 Sat (%)
max_O2 Sat (%)
mean_paCO2
min_paCO2
max_paCO2
mean_paO2
min_paO2
max_paO2
mean_pH
min_pH
max_pH
mean_phosphate
min_phosphate
max_phosphate
mean_platelets x 1000
min_platelets x 1000
max_platelets x 1000
mean_potassium
min_potassium
max_potassium
mean_PT - INR
min_PT - INR
max_PT - INR
mean_PT
min_PT
max_PT
mean_RBC
min_RBC
max_RBC
mean_RDW
min_RDW
max_RDW
mean_sodium
min_sodium
max_sodium
mean_total bilirubin
min_total bilirubin
max_total bilirubin
mean_total protein
min_total protein
max_total protein
mean_WBC x 1000
min_WBC x 1000
max_WBC x 1000
suspected_sepsis
24hr_sepsis
suspected_septic_shock
24hr_septic_shock
ventilator
physicalexamoffset
24hrNetFluidTotal
24hr_minimum_temp
24hr_maximum_temp
24hr_mean_temp
24hr_AKI

In [21]:
np.sum(old_data["Class"])

7267

In [16]:
import glob
labs = glob.glob("../csv/early_24hr_data/early_24hr_labs/*")

for lab in labs:
    lab_df = pd.read_csv(lab)
    lab_df.rename(columns={'patientunitstayid' : "PatientStayID"}, inplace=True)
    old_data = old_data.merge(lab_df, how="inner", left_on="PatientStayID", right_on="PatientStayID")
for col in old_data.columns:
    print(col)
old_data.to_csv("../csv/complete_features.csv")

PatientStayID
Class
Age
APACHEIVscore
APACHEIVaScore
Coma
Metabolic
UrgentAdmission
AdmissionCategory
Infection
NumBeds
TeachingStatus
Gender
Ethnicity
AdmitHeight
AdmitTime24
AdmitSource
UnitType
UnitAdmitTime
UnitAdmitSource
AdmitWeight
HistAICD
HistAngina
HistArrythmia
HistCHF
HistCABG
HistExerciseTol
HistHypertension
HistMI
HistPacemaker
HistPVD
HistPCI
HistPulmEmb
HistHeartTransp
HistValveDis
HistVenThromb
HistCushing
HistHypercalcemia
Histhyperthyroid
Histhypothyroid
Histdiabetes
HistSteroid Use
HistCirrhosis
HistHypersplenism
HistPUD
HistLiverTransp
HistAplasticAnemia
HistChemotherapy
HistRadiationTherapy
HistCancer
HistClottingDisorder
HistHemolyticAnemia
HistHypercoagulableCondition
HistOncology
HistMyeloproliferativeDisease
HistSickleCellDisease
HistImmuneSuppr
HistDementia
HistIntracranialMass
HistNeuromuscularDis
HistSeizures
HistStrokes
HistTIA
HistAsthma
HistCOPD
HistRespiratoryFail
HistRestrictiveDis
HistLungTransp
HistSarcoidosis
HistStoneDisease
HistNeurogenicBladd
HistRenalFail
HistRenalInsuff
HistRTA
HistRenalTransp
HistRheumatic
24hrWorstMotorGCS
24hrWorstVerbalGCS
24hrWorstEyesGCS
24hrBestMotorGCS
24hrBestVerbalGCS
24hrBestEyesGCS
FirstDayAdrenergicBronchodilators
FirstDayaminoglycosides
FirstDayAnticholinergicBronchodilators
FirstDayAnticholinergics
FirstDayAnticoagulants
FirstDayAntidiarrheals
FirstDayAntiemetics
FirstDayAntihistamines
FirstDayBarbiturates
FirstDayBenzodiazepines
FirstDayBetaBlockers
FirstDayCalciumChannelBlockers
FirstDayCarbapenems
FirstDayCephalosporins
FirstDayClassVAntiarrhythmics
FirstDayColloidFluids
FirstDayCrystalloidFluids
FirstDayDiuretics
FirstDayGeneralAnesthetics
FirstDayGlucocorticoids
FirstDayGlucoseElevating
FirstDayGlycopeptides
FirstDayH2Blockers
FirstDayHaloperidol
FirstDayInsulins
FirstDayLaxatives
FirstDayLincomycins
FirstDayMacrolides
FirstDayMAOIAntidepressants
FirstDayMethylxanthines
FirstDayMiscAntidepressants
FirstDayNeuromuscularBlockers
FirstDayNSAIDs
FirstDayOpioids
FirstDayPenicillins
FirstDayPhenylpiperazineAntidepressants
FirstDayPotassiumChannelBlockers
FirstDayPrecedex
FirstDayProtonPumpInhibitor
FirstDayQuinolones
FirstDaySNRIAntidepressants
FirstDaySodiumChannelBlockers
FirstDaySomatostatin
FirstDaySSRIAntidepressants
FirstDaySulfonamides
FirstDayTetracyclicAntidepressants
FirstDayTetracyclines
FirstDayThrombolytics
FirstDayTricyclicAntidepressants
FirstDayVasodilators
FirstDayVasopressors
mean_-lymphs
min_-lymphs
max_-lymphs
mean_-monos
min_-monos
max_-monos
mean_-polys
min_-polys
max_-polys
mean_albumin
min_albumin
max_albumin
mean_alkaline phos.
min_alkaline phos.
max_alkaline phos.
mean_ALT (SGPT)
min_ALT (SGPT)
max_ALT (SGPT)
mean_anion gap
min_anion gap
max_anion gap
mean_AST (SGOT)
min_AST (SGOT)
max_AST (SGOT)
mean_bedside glucose
min_bedside glucose
max_bedside glucose
mean_bicarbonate_totalCO2_HCO3
min_bicarbonate_totalCO2_HCO3
max_bicarbonate_totalCO2_HCO3
mean_BUN
min_BUN
max_BUN
mean_calcium
min_calcium
max_calcium
mean_chloride
min_chloride
max_chloride
mean_creatinine
min_creatinine
max_creatinine
mean_FiO2
min_FiO2
max_FiO2
mean_glucose
min_glucose
max_glucose
mean_Hct
min_Hct
max_Hct
mean_Hgb
min_Hgb
max_Hgb
mean_lactate
min_lactate
max_lactate
mean_magnesium
min_magnesium
max_magnesium
mean_MCH
min_MCH
max_MCH
mean_MCHC
min_MCHC
max_MCHC
mean_MCV
min_MCV
max_MCV
mean_MPV
min_MPV
max_MPV
mean_O2 Sat (%)
min_O2 Sat (%)
max_O2 Sat (%)
mean_paCO2
min_paCO2
max_paCO2
mean_paO2
min_paO2
max_paO2
mean_pH
min_pH
max_pH
mean_phosphate
min_phosphate
max_phosphate
mean_platelets x 1000
min_platelets x 1000
max_platelets x 1000
mean_potassium
min_potassium
max_potassium
mean_PT - INR
min_PT - INR
max_PT - INR
mean_PT
min_PT
max_PT
mean_RBC
min_RBC
max_RBC
mean_RDW
min_RDW
max_RDW
mean_sodium
min_sodium
max_sodium
mean_total bilirubin
min_total bilirubin
max_total bilirubin
mean_total protein
min_total protein
max_total protein
mean_WBC x 1000
min_WBC x 1000
max_WBC x 1000

In [6]:
data = load_data("prediction_cam")
for col in data.columns:
    print(col)

PatientStayID
Class
Age
APACHEIVscore
APACHEIVaScore
Coma
Metabolic
UrgentAdmission
AdmissionCategory
Infection
NumBeds
TeachingStatus
Gender
Ethnicity
AdmitHeight
AdmitTime24
AdmitSource
UnitType
UnitAdmitTime
UnitAdmitSource
UnitStayType
AdmitWeight
24hrMinAlbumin
24hrMaxAlbumin
24hrMinAlkPhosp
24hrMaxAlkPhos
24hrMinALT
24hrMaxALT
24hrMinAnionGap
24hrMaxAnionGap
24hrMinAST
24hrMaxAST
24hrMinBedGlucose
24hrMaxBedGlucose
24hrMinBUN
24hrMaxBUN
24hrMinCalcium
24hrMaxCalcium
24hrMinChloride
24hrMaxChloride
24hrMinCreatinine
24hrMaxCreatinine
24hrMinFiO2
24hrMaxFiO2
24hrMinGlucose
24hrMaxGlucose
24hrMinHct
24hrMaxHct
24hrMinHgb
24hrMaxHgb
24hrMinLactate
24hrMaxLactate
24hrMinLymphs
24hrMaxLymphs
24hrMinMCH
24hrMaxMCH
24hrMinMCHC
24hrMaxMCHC
24hrMinMCV
24hrMaxMCV
24hrMinMonos
24hrMaxMonos
24hrMinMPV
24hrMaxMPV
24hrMinO2Sat
24hrMaxO2Sat
24hrMinpaCO2
24hrMaxpaCO2
24hrMinpaO2
24hrMaxpaO2
24hrMinpH
24hrMaxpH
24hrMinPhosphate
24hrMaxPhosphate
24hrMinPlatelets
24hrMaxPlatelets
24hrMinPotassium
24hrMaxPotassium
24hrMinPT
24hrMaxPT
24hrMinPTINR
24hrMaxPTINR
24hrMinRBC
24hrMaxRBC
24hrMinRDW
24hrMaxRDW
24hrMinSodium
24hrMaxSodium
24hrMinbilirubin
24hrMaxBilirubin
24hrMinProtein
24hrMaxProtein
24hrMinWBC
24hrMaxWBC
HistAICD
HistAngina
HistArrythmia
HistCHF
HistCABG
HistExerciseTol
HistHypertension
HistMI
HistPacemaker
HistPVD
HistPCI
HistPulmEmb
HistHeartTransp
HistValveDis
HistVenThromb
HistCushing
HistHypercalcemia
Histhyperthyroid
Histhypothyroid
Histdiabetes
HistSteroid Use
HistCirrhosis
HistHypersplenism
HistPUD
HistLiverTransp
HistAplasticAnemia
HistChemotherapy
HistRadiationTherapy
HistCancer
HistClottingDisorder
HistHemolyticAnemia
HistHypercoagulableCondition
HistOncology
HistMyeloproliferativeDisease
HistSickleCellDisease
HistImmuneSuppr
HistDementia
HistIntracranialMass
HistNeuromuscularDis
HistSeizures
HistStrokes
HistTIA
HistAsthma
HistCOPD
HistRespiratoryFail
HistRestrictiveDis
HistLungTransp
HistSarcoidosis
HistStoneDisease
HistNeurogenicBladd
HistRenalFail
HistRenalInsuff
HistRTA
HistRenalTransp
HistRheumatic
FirstDayAdrenergicBronchodilators
FirstDayaminoglycosides
FirstDayAnticholinergicBronchodilators
FirstDayAnticholinergics
FirstDayAnticoagulants
FirstDayAntidiarrheals
FirstDayAntiemetics
FirstDayAntihistamines
FirstDayBarbiturates
FirstDayBenzodiazepines
FirstDayBetaBlockers
FirstDayCalciumChannelBlockers
FirstDayCarbapenems
FirstDayCephalosporins
FirstDayClassVAntiarrhythmics
FirstDayColloidFluids
FirstDayCrystalloidFluids
FirstDayDiuretics
FirstDayGeneralAnesthetics
FirstDayGlucocorticoids
FirstDayGlucoseElevating
FirstDayGlycopeptides
FirstDayH2Blockers
FirstDayHaloperidol
FirstDayInsulins
FirstDayLaxatives
FirstDayLincomycins
FirstDayMacrolides
FirstDayMAOIAntidepressants
FirstDayMethylxanthines
FirstDayMiscAntidepressants
FirstDayNeuromuscularBlockers
FirstDayNSAIDs
FirstDayOpioids
FirstDayPenicillins
FirstDayPhenylpiperazineAntidepressants
FirstDayPotassiumChannelBlockers
FirstDayPrecedex
FirstDayProtonPumpInhibitor
FirstDayQuinolones
FirstDaySNRIAntidepressants
FirstDaySodiumChannelBlockers
FirstDaySomatostatin
FirstDaySSRIAntidepressants
FirstDaySulfonamides
FirstDayTetracyclicAntidepressants
FirstDayTetracyclines
FirstDayThrombolytics
FirstDayTricyclicAntidepressants
FirstDayVasodilators
FirstDayVasopressors
24hrWorstMotorGCS
24hrWorstVerbalGCS
24hrWorstEyesGCS
24hrBestMotorGCS
24hrBestVerbalGCS
24hrBestEyesGCS
24hrVentilation
24hrMeanEyes
24hrMeanMotor
24hrMeanVerbal
24hrMinTemp
24hrMaxTemp
24hrMeanTemp
PhysicalExam
24hrNetFluidTotal
SuspectedSepsis
24hrSepsis
24hrSepticShock
24hrAKI
comorbidity_chf
comorbidity_carit
comorbidity_valv
comorbidity_pcd
comorbidity_pvd
comorbidity_hypunc
comorbidity_hypc
comorbidity_para
comorbidity_ond
comorbidity_cpd
comorbidity_diabunc
comorbidity_diabc
comorbidity_hypothy
comorbidity_rf
comorbidity_ld
comorbidity_pud
comorbidity_aids
comorbidity_lymph
comorbidity_metacanc
comorbidity_solidtum
comorbidity_rheumd
comorbidity_coag
comorbidity_obes
comorbidity_wloss
comorbidity_fed
comorbidity_blane
comorbidity_dane
comorbidity_alcohol
comorbidity_drug
comorbidity_depre
mean_bicarbonate_totalCO2_HCO3
min_bicarbonate_totalCO2_HCO3
max_bicarbonate_totalCO2_HCO3

In [27]:
# Format Comorbidity
comorbidity = pd.read_csv("../csv/early_24hr_data/early_24hr_comorbidity.csv")
comorbidity.drop(["Unnamed: 0"], axis=1, inplace=True)
comorbidity = comorbidity.iloc[:, :32]
comorbidity.drop(["psycho"], axis=1, inplace=True)
comorbidity = comorbidity.add_prefix("comorbidity_")
comorbidity.rename(columns={"comorbidity_patientunitstayid" : "PatientStayID"}, inplace=True)
comorbidity

,PatientStayID,comorbidity_chf,comorbidity_carit,comorbidity_valv,comorbidity_pcd,comorbidity_pvd,comorbidity_hypunc,comorbidity_hypc,comorbidity_para,comorbidity_ond,...,comorbidity_rheumd,comorbidity_coag,comorbidity_obes,comorbidity_wloss,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre
0,149321,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,150934,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,151213,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
3,151708,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,152171,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24835,3353038,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24836,3353044,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24837,3353077,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24838,3353097,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24839,3353197,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
old_data = old_data.merge(comorbidity, how="left", on="PatientStayID")
old_data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,comorbidity_rheumd,comorbidity_coag,comorbidity_obes,comorbidity_wloss,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre
0,149321,1,34.0,32.0,32.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,150934,1,69.0,78.0,78.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,151213,1,61.0,101.0,101.0,0.0,0,0.0,2.0,False,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,151708,1,79.0,38.0,38.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,152171,1,84.0,38.0,38.0,0.0,0,1.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,3353038,0,27.0,39.0,39.0,0.0,0,0.0,2.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27935,3353044,0,52.0,41.0,41.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
27936,3353077,0,60.0,36.0,36.0,0.0,0,0.0,4.0,True,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27937,3353097,1,41.0,89.0,89.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27938,3353197,1,66.0,NaN,NaN,0.0,0,1.0,1.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Check RASS
rass = pd.read_csv("../csv/early_24hr_data/early_24hr_rass_and_coma_feature.csv")
rass.rename(columns={"patientunitstayid": "PatientStayID"}, inplace=True)
rass

,PatientStayID,First24hrComa,First24hrMinRASS,First24hrMeanRASS,First24hrMaxRASS
0,149321,NaN,NaN,NaN,NaN
1,150934,NaN,NaN,NaN,NaN
2,151213,NaN,NaN,NaN,NaN
3,151708,NaN,NaN,NaN,NaN
4,152171,NaN,NaN,NaN,NaN
...,...,...,...,...,...
27934,3353038,NaN,NaN,NaN,NaN
27935,3353044,NaN,NaN,NaN,NaN
27936,3353077,NaN,NaN,NaN,NaN
27937,3353097,NaN,NaN,NaN,NaN
27938,3353197,NaN,NaN,NaN,NaN

In [33]:
old_data = old_data.merge(rass, how="left", on="PatientStayID")

In [34]:
old_data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre,First24hrComa,First24hrMinRASS,First24hrMeanRASS,First24hrMaxRASS
0,149321,1,34.0,32.0,32.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
1,150934,1,69.0,78.0,78.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,151213,1,61.0,101.0,101.0,0.0,0,0.0,2.0,False,...,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
3,151708,1,79.0,38.0,38.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,152171,1,84.0,38.0,38.0,0.0,0,1.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,3353038,0,27.0,39.0,39.0,0.0,0,0.0,2.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27935,3353044,0,52.0,41.0,41.0,0.0,0,0.0,4.0,False,...,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27936,3353077,0,60.0,36.0,36.0,0.0,0,0.0,4.0,True,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27937,3353097,1,41.0,89.0,89.0,0.0,0,0.0,4.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
27938,3353197,1,66.0,NaN,NaN,0.0,0,1.0,1.0,False,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [36]:
old_data.to_csv("../csv/early_24hr_data/early_24hr_complete_features.csv", index=False)

In [18]:
bicarb = pd.read_csv("../csv/bicarbonate_totalCO2_HCO3.csv")
bicarb

,PatientStayID,mean_bicarbonate_totalCO2_HCO3,min_bicarbonate_totalCO2_HCO3,max_bicarbonate_totalCO2_HCO3
0,149321,NaN,NaN,NaN
1,150934,22.666667,22.0,23.0
2,151213,23.000000,23.0,23.0
3,151708,27.000000,27.0,27.0
4,152171,30.000000,30.0,30.0
...,...,...,...,...
27934,3353038,21.000000,21.0,21.0
27935,3353044,23.000000,23.0,23.0
27936,3353077,23.000000,22.0,24.0
27937,3353097,32.666667,31.0,35.0
27938,3353197,24.375000,23.0,26.0

In [19]:
data = data.merge(comorbidity, how="left", on="PatientStayID")
data = data.merge(bicarb, how="left", on="PatientStayID")
data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,comorbidity_wloss,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre,mean_bicarbonate_totalCO2_HCO3,min_bicarbonate_totalCO2_HCO3,max_bicarbonate_totalCO2_HCO3
0,151708,1,79.0,38.0,38.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.000000,27.0,27.0
1,152171,1,84.0,38.0,38.0,0.0,0,0.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.000000,30.0,30.0
2,155126,1,71.0,65.0,65.0,0.0,1,0.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.333333,19.0,24.0
3,156970,1,56.0,32.0,32.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.000000,22.0,22.0
4,165069,1,84.0,46.0,46.0,0.0,0,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.000000,30.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,3352964,0,85.0,75.0,75.0,0.0,0,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.250000,36.5,38.0
19890,3353044,0,52.0,41.0,41.0,0.0,0,1.0,4.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,23.000000,23.0,23.0
19891,3353077,0,60.0,36.0,36.0,0.0,0,1.0,4.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.000000,22.0,24.0
19892,3353097,1,41.0,89.0,89.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.666667,31.0,35.0
19893,3353197,1,66.0,NaN,NaN,0.0,0,0.0,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.375000,23.0,26.0

In [20]:
data.to_csv("../csv/early_24hr_data/complete_featurespace.csv", index=False)

In [7]:
data=pd.read_csv("../csv/early_24hr_data/complete_featurespace.csv")
data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,comorbidity_wloss,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre,mean_bicarbonate_totalCO2_HCO3,min_bicarbonate_totalCO2_HCO3,max_bicarbonate_totalCO2_HCO3
0,151708,1,79.0,38.0,38.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.000000,27.0,27.0
1,152171,1,84.0,38.0,38.0,0.0,0,0.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.000000,30.0,30.0
2,155126,1,71.0,65.0,65.0,0.0,1,0.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.333333,19.0,24.0
3,156970,1,56.0,32.0,32.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,22.000000,22.0,22.0
4,165069,1,84.0,46.0,46.0,0.0,0,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.000000,30.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,3352964,0,85.0,75.0,75.0,0.0,0,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.250000,36.5,38.0
19890,3353044,0,52.0,41.0,41.0,0.0,0,1.0,4.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,23.000000,23.0,23.0
19891,3353077,0,60.0,36.0,36.0,0.0,0,1.0,4.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.000000,22.0,24.0
19892,3353097,1,41.0,89.0,89.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.666667,31.0,35.0
19893,3353197,1,66.0,NaN,NaN,0.0,0,0.0,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.375000,23.0,26.0

In [8]:
cam = pd.read_csv("../csv/early_24hr_data/early_24hr_patientstayid.csv")
cam.rename(columns={"patientunitstayid" : "PatientStayID"}, inplace=True)
cam.drop(columns=["del_onset", "del_positive", "LOS"], inplace=True)
cam

       PatientStayID
0             242154
1             242290
2             242474
3             242505
4             242714
...              ...
18438        3352193
18439        3352331
18440        3352964
18441        3353044
18442        3353077

[18443 rows x 1 columns]

In [9]:
data = data.merge(cam, how="inner", on="PatientStayID")
data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,comorbidity_wloss,comorbidity_fed,comorbidity_blane,comorbidity_dane,comorbidity_alcohol,comorbidity_drug,comorbidity_depre,mean_bicarbonate_totalCO2_HCO3,min_bicarbonate_totalCO2_HCO3,max_bicarbonate_totalCO2_HCO3
0,242154,1,46.0,77.0,77.0,1.0,0,1.0,2.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.333333,26.0,32.0
1,242290,0,75.0,77.0,77.0,0.0,0,1.0,2.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.500000,20.0,23.0
2,242474,0,52.0,64.0,64.0,0.0,1,1.0,4.0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,25.000000,25.0,25.0
3,242505,1,90.0,78.0,78.0,0.0,0,1.0,2.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.000000,19.0,19.0
4,242714,0,78.0,-1.0,-1.0,0.0,0,1.0,4.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.000000,28.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,3352193,0,19.0,-1.0,-1.0,-1.0,1,1.0,3.0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,21.350000,19.7,23.0
18345,3352331,0,75.0,48.0,48.0,0.0,0,1.0,4.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
18346,3352964,0,85.0,75.0,75.0,0.0,0,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.250000,36.5,38.0
18347,3353044,0,52.0,41.0,41.0,0.0,0,1.0,4.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,23.000000,23.0,23.0
18348,3353077,0,60.0,36.0,36.0,0.0,0,1.0,4.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.000000,22.0,24.0

In [10]:
# invetigate differences
data = load_data()
data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,24hrMeanVerbal,24hrMinTemp,24hrMaxTemp,24hrMeanTemp,PhysicalExam,24hrNetFluidTotal,SuspectedSepsis,24hrSepsis,24hrSepticShock,24hrAKI
0,151708,1,79.0,38.0,38.0,0.0,0,1.0,4.0,0,...,NaN,35.8,37.0,36.685714,44.0,-150.0,0,0,0,0
1,152171,1,84.0,38.0,38.0,0.0,0,0.0,4.0,0,...,NaN,36.4,38.4,37.598077,109.0,0.0,0,0,0,0
2,155126,1,71.0,65.0,65.0,0.0,1,0.0,4.0,0,...,NaN,36.3,36.8,36.580000,3.0,0.0,0,0,0,0
3,156970,1,56.0,32.0,32.0,0.0,0,1.0,4.0,0,...,NaN,36.3,36.9,36.583333,33.0,0.0,0,0,0,0
4,165069,1,84.0,46.0,46.0,0.0,0,1.0,2.0,0,...,NaN,36.7,37.2,36.883333,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,3352964,0,85.0,75.0,75.0,0.0,0,1.0,2.0,0,...,NaN,36.8,37.0,36.883333,182.0,-670.0,1,0,0,0
19890,3353044,0,52.0,41.0,41.0,0.0,0,1.0,4.0,0,...,NaN,36.1,36.9,36.580000,12.0,-1495.0,0,0,0,0
19891,3353077,0,60.0,36.0,36.0,0.0,0,1.0,4.0,1,...,NaN,36.4,36.9,36.714286,87.0,-450.0,0,0,0,0
19892,3353097,1,41.0,89.0,89.0,0.0,0,1.0,4.0,0,...,NaN,36.5,37.3,36.916667,1042.0,3493.0,0,0,0,1
19893,3353197,1,66.0,NaN,NaN,0.0,0,0.0,1.0,0,...,NaN,35.8,37.4,36.975000,1327.0,-512.0,0,0,0,0

In [11]:
cam

       PatientStayID
0             242154
1             242290
2             242474
3             242505
4             242714
...              ...
18438        3352193
18439        3352331
18440        3352964
18441        3353044
18442        3353077

[18443 rows x 1 columns]

In [12]:
test = cam.merge(data, how="left", on="PatientStayID")
test

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,24hrMeanVerbal,24hrMinTemp,24hrMaxTemp,24hrMeanTemp,PhysicalExam,24hrNetFluidTotal,SuspectedSepsis,24hrSepsis,24hrSepticShock,24hrAKI
0,242154,1.0,46.0,77.0,77.0,1.0,0.0,1.0,2.0,1.0,...,4.000000,36.39180,37.16964,36.814056,NaN,NaN,1.0,1.0,0.0,0.0
1,242290,0.0,75.0,77.0,77.0,0.0,0.0,1.0,2.0,1.0,...,5.000000,36.78072,37.11408,36.928880,NaN,NaN,0.0,0.0,0.0,1.0
2,242474,0.0,52.0,64.0,64.0,0.0,1.0,1.0,4.0,0.0,...,4.727273,33.90000,37.55856,36.403583,253.0,0.0,0.0,0.0,0.0,0.0
3,242505,1.0,90.0,78.0,78.0,0.0,0.0,1.0,2.0,1.0,...,4.909091,36.50292,36.78072,36.653726,1340.0,2325.0,0.0,0.0,0.0,0.0
4,242714,0.0,78.0,-1.0,-1.0,0.0,0.0,1.0,4.0,1.0,...,4.000000,36.28068,37.55856,36.919620,1274.0,-629.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18438,3352193,0.0,19.0,-1.0,-1.0,-1.0,1.0,1.0,3.0,1.0,...,NaN,36.80000,39.40000,37.712500,NaN,NaN,0.0,0.0,0.0,0.0
18439,3352331,0.0,75.0,48.0,48.0,0.0,0.0,1.0,4.0,0.0,...,NaN,36.40000,37.00000,36.650000,49.0,0.0,0.0,0.0,0.0,0.0
18440,3352964,0.0,85.0,75.0,75.0,0.0,0.0,1.0,2.0,0.0,...,NaN,36.80000,37.00000,36.883333,182.0,-670.0,1.0,0.0,0.0,0.0
18441,3353044,0.0,52.0,41.0,41.0,0.0,0.0,1.0,4.0,0.0,...,NaN,36.10000,36.90000,36.580000,12.0,-1495.0,0.0,0.0,0.0,0.0
18442,3353077,0.0,60.0,36.0,36.0,0.0,0.0,1.0,4.0,1.0,...,NaN,36.40000,36.90000,36.714286,87.0,-450.0,0.0,0.0,0.0,0.0

In [13]:
x = test[np.isnan(test["Class"])]

In [14]:
x

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,24hrMeanVerbal,24hrMinTemp,24hrMaxTemp,24hrMeanTemp,PhysicalExam,24hrNetFluidTotal,SuspectedSepsis,24hrSepsis,24hrSepticShock,24hrAKI
130,264458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,264460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,285325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,305099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,425564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17942,3157076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18035,3159582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18195,3184376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18290,3327039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18314,3331500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
x = x["PatientStayID"]
x

130       264458
132       264460
249       285325
351       305099
375       425564
          ...
17942    3157076
18035    3159582
18195    3184376
18290    3327039
18314    3331500
Name: PatientStayID, Length: 94, dtype: int64

In [16]:
x.to_csv("../csv/missing_values.csv")

In [17]:
data

,PatientStayID,Class,Age,APACHEIVscore,APACHEIVaScore,Coma,Metabolic,UrgentAdmission,AdmissionCategory,Infection,...,24hrMeanVerbal,24hrMinTemp,24hrMaxTemp,24hrMeanTemp,PhysicalExam,24hrNetFluidTotal,SuspectedSepsis,24hrSepsis,24hrSepticShock,24hrAKI
0,151708,1,79.0,38.0,38.0,0.0,0,1.0,4.0,0,...,NaN,35.8,37.0,36.685714,44.0,-150.0,0,0,0,0
1,152171,1,84.0,38.0,38.0,0.0,0,0.0,4.0,0,...,NaN,36.4,38.4,37.598077,109.0,0.0,0,0,0,0
2,155126,1,71.0,65.0,65.0,0.0,1,0.0,4.0,0,...,NaN,36.3,36.8,36.580000,3.0,0.0,0,0,0,0
3,156970,1,56.0,32.0,32.0,0.0,0,1.0,4.0,0,...,NaN,36.3,36.9,36.583333,33.0,0.0,0,0,0,0
4,165069,1,84.0,46.0,46.0,0.0,0,1.0,2.0,0,...,NaN,36.7,37.2,36.883333,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,3352964,0,85.0,75.0,75.0,0.0,0,1.0,2.0,0,...,NaN,36.8,37.0,36.883333,182.0,-670.0,1,0,0,0
19890,3353044,0,52.0,41.0,41.0,0.0,0,1.0,4.0,0,...,NaN,36.1,36.9,36.580000,12.0,-1495.0,0,0,0,0
19891,3353077,0,60.0,36.0,36.0,0.0,0,1.0,4.0,1,...,NaN,36.4,36.9,36.714286,87.0,-450.0,0,0,0,0
19892,3353097,1,41.0,89.0,89.0,0.0,0,1.0,4.0,0,...,NaN,36.5,37.3,36.916667,1042.0,3493.0,0,0,0,1
19893,3353197,1,66.0,NaN,NaN,0.0,0,0.0,1.0,0,...,NaN,35.8,37.4,36.975000,1327.0,-512.0,0,0,0,0

In [18]:
data["PatientStayID"].to_csv("ryan_id_list.csv",index=False)